# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
# Fallback to local MongoDB if Atlas is not available
MONGO_URI=mongodb://Rakesh:Rakesh12345@ac-mo4c3ve-shard-00-00.sbgfyl0.mongodb.net:27017,ac-mo4c3ve-shard-00-01.sbgfyl0.mongodb.net:27017,ac-mo4c3ve-shard-00-02.sbgfyl0.mongodb.net:27017/?ssl=true&replicaSet=atlas-xxi5x4-shard-0&authSource=admin&appName=Cluster0

# JWT configuration
JWT_SECRET=your_jwt_secret_key_change_in_production_123456
JWT_EXPIRE=7d

# Cloudinary credentials (Optional - fallback to local filesystem uploads if empty)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
